<% unless @projects.blank? %>
  <div class="list-group">
    <% @projects.each do |project| %>
      <%= link_to(project.name, project, class: "list-group-item") %>
    <% end %>
  </div>
<% else %>
  <p>No projects yet. Let's go to play ping pong!</p>
<% end %>
