<h2>Projects</h2>

<div class="text-xs-right"><%= link_to("new", new_project_path, class: "btn btn-warning") %></div>

<% unless @projects.blank? %>
  <div class="list-group" id="project-list">
    <% @projects.each do |project| %>
      <%= link_to(project.name, project, class: "list-group-item") %>
    <% end %>
  </div>
<% else %>
  <p>No projects yet. Let's go to play ping pong!</p>
<% end %>
