$font-family-sans-serif:     Consolas, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             16px !default;

#main{
  margin-top: 100px;
}
.alert-container{
  margin-top: 40px;
  margin-bottom: 40px;
}
#project-list{
  margin-top: 40px;
}
